<div id="main-wrapper" class="page-wrapper">
    <app-header></app-header>
    <div class="container p-b-70">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-5 align-self-center">
                    <h4 class="page-title">Profile Settings</h4>
                    <div class="d-flex align-items-center">

                    </div>
                </div>
                <div class="col-7 align-self-center">
                    <div class="d-flex no-block justify-content-end align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">My Account</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <!-- Row -->
            <div class="row">
                <!-- Column -->
                <div class="col-lg-8 col-xlg-9 col-md-8">
                    <div class="card">
                        <main role="main" class="container">
                            <form class="formprof blur form-horizontal form-material">
                                <div class="align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow float-left col-md-12">
                                    <div class="text-right mt-3 pull-left col-md-5 p-0">
                                        <div class="col-md-2 float-left p-0"> <img src="assets/images/pro.jpg" class="rounded-circle" width=""></div>
                                        <div class="col-md-8 float-left">
                                            <h6 class="mb-0 pull-left mt-1">{{user.name}}</h6><br>
                                        </div>
                                    </div>
                                    <div class="text-right pull-right p-0">
                                    </div>
                                </div>

                                <div class="my-3 p-3 bg-white rounded box-shadow">
                                    <h6 class="border-bottom border-gray pb-2 mb-0">ACCOUNT INFORMATION</h6>
                                    <div class="media text-muted pt-3 ">

                                        <div class="form-group col-md-6 p-l-0">
                                            <label class="col-md-12 p-l-0">Full Name</label>
                                            <div class="col-md-12 p-l-0">
                                                <input type="text" placeholder="{{user.name}}" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6 p-l-0">
                                            <label for="example-email" class="col-md-12 p-l-0">Email</label>
                                            <div class="col-md-12 p-l-0">
                                                <input type="email" placeholder="{{user.email}}" class="form-control form-control-line" name="example-email" id=" example-email">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="media text-muted pt-3">
                                        <div class="form-group col-md-6 p-l-0">
                                            <label class="col-md-12 p-l-0">Password</label>
                                            <div class="col-md-12 p-l-0">
                                                <input type="password" value="password" class="form-control form-control-line">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6 p-l-0">
                                            <label class="col-md-12 p-l-0">Phone No</label>
                                            <div class="col-md-12 p-l-0">
                                                <input type="text" placeholder="{{ user.phone }}" class="form-control form-control-line">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="my-3 p-3 bg-white rounded box-shadow">
                                    <h6 class="border-bottom border-gray pb-2 mb-0">UPDATE YOUR AREA OF SERVICE</h6>
                                    <div class="media text-muted pt-3 ">

                                        <div class="form-group col-md-6 p-l-0">
                                            <label class="col-md-12 p-l-0">Location</label>
                                            <div class="col-md-12 p-l-0">
                                                <input type="text" placeholder="{{partner.location}}" class="form-control form-control-line" name="location" id="autocomplete" autocorrect="off" autocapitalize="off" spellcheck="off" #search>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3 p-l-0">
                                            <label for="example-email" class="col-md-12 p-l-0">Category</label>
                                            <div class="col-md-12 p-l-0">
                                                <select class="form-control form-control-line" (change)="onChange($event)" name="category">
                                                      <option disabled="disabled">Select Category</option>
                                                      <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                                                    </select>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-3 p-l-0">
                                            <label for="example-email" class="col-md-12 p-l-0"></label>
                                            <div class="col-md-12 p-l-0">
                                                <button (click)="createOrUpdatePartner()" class="btn">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </main>
                    </div>
                </div>
                <!-- Column -->
            </div>
            <!-- Row -->
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <!--             <footer class="footer text-center">
          All Rights Reserved by AdminBite admin. Designed and Developed by
          <a href="https://wrappixel.com">WrapPixel</a>.
      </footer> -->
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <app-footer></app-footer>
</div>