<footer class="footer footer--dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="footer__logo">
                    <a href="index1.html" class="col-2">
                        <img src="./assets/images/icon/logo-trudy-white.png" alt="Umber" />
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="footer__social">
                    <a href="#">
                        <i class="zmdi zmdi-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="zmdi zmdi-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="zmdi zmdi-twitter"></i>
                    </a>
                    <a class="mr-0" href="#">
                        <i class="zmdi zmdi-dribbble"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="footer__copyright">© 2018 by uxcraft</div>
            </div>
        </div>
    </div>
</footer>