<div id="main-wrapper" class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <!-- HEADER DESKTOP-->
    <app-header></app-header>
    
    <!-- END HEADER MOBILE-->
    <section class="home-blackwhite-intro fullscreen-section" style="background:url('assets/images/electrician.jpg') center center /cover no-repeat fixed;">
        <span class="bg-overlay bg-overlay--opa60"></span>
        <div class="home-blackwhite-intro__inner">
            <div class="container">
                <article class="col-md-7 text-white">
                    <h2 class="wow fadeInRight" data-wow-delay=".2s" data-wow-duration="1s">Electricians</h2>
                    <p class="wow fadeInUp text-white" data-wow-delay=".6s" data-wow-duration="1s">
                    Does a switch or outlet give a mild shock? Does your house have fewer electrical outlets? Does your
                    living room look like a snake farm with wires running under the rugs and furniture?
                    Such instances pose a great risk to the safety of both your loved ones and your household property.
                    From fixing faulty outlets to running wires to new electrical appliances Trudy has u covered.
                    Trudy connects you with experienced electricians who ensure that your house is nothing short of a
                    safe haven for your loved ones.</p>
                </article>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1s">
                    <div class="statistic__item">
                        <div class="number-wrap">
                            <h4 class="text-pink number js-counter-up" data-counterup-time="1000">30</h4>
                        </div>
                        <h6 class="text-white">Electricians available</h6>
                        <a href="request.html" class="au-btn au-btn--dark au-btn--p50 m-t-30 js-load-btn" href="#">View All</a>
                    </div>
                </div>

                <div class="wrapscrolly">
                  <p class="arrow arrow--bottom chevron"></p>
                  <p class="arrow arrow--bottom chevron"></p>
                  <p class="arrow arrow--bottom chevron"></p>
                </div>
            </div>
        </div>
    </section>


    <!-- STATISTIC-->
    <section class="home-blackwhite-intro js-parallax-scroll p-t-445 p-b-30" style="background: url('assets/images/errands.jpg') center center / cover no-repeat fixed;">
        <div class="bg-overlay bg-overlay--opa60"></div>
     
        <div class="home-blackwhite-intro__inner">
            <div class="container">
                <article class="col-md-7 text-white">
                    <h2 class="wow fadeInRight" data-wow-delay=".2s" data-wow-duration="1s">Errands/Delivery</h2>
                    <p class="wow fadeInUp text-white" data-wow-delay=".6s" data-wow-duration="1s">Sed ut perspiciatis unde omnis iste natus error sit volupta accusantium doloremque laudantium, totam rem aperi, eaque ipsa quae ab illo inventore veritatis </p>
                </article>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1s">
                    <div class="statistic__item">
                        <div class="number-wrap">
                            <h4 class="text-pink number js-counter-up" data-counterup-time="1000">30</h4>
                        </div>
                        <h6 class="text-white">Errand pros available</h6>
                        <a href="request.html" class="au-btn au-btn--dark au-btn--p50 m-t-30 js-load-btn" href="#">View All</a>
                    </div>
                </div>
                <div class="wrapscrolly">
                  <p class="arrow arrow--bottom chevron"></p>
                  <p class="arrow arrow--bottom chevron"></p>
                  <p class="arrow arrow--bottom chevron"></p>
                </div>
            </div>
        </div>
    </section>
    <!-- END STATISTIC-->


    <!-- STATISTIC-->
    <section class="home-blackwhite-intro js-parallax-scroll p-t-445 p-b-30" style="background: url('assets/images/cleaninghome.jpg') center center / cover no-repeat fixed;">
        <div class="bg-overlay bg-overlay--opa60"></div>
     
        <div class="home-blackwhite-intro__inner">
            <div class="container">
                <article class="col-md-7 text-white">
                    <h2 class="wow fadeInRight" data-wow-delay=".2s" data-wow-duration="1s">Cleaning</h2>
                    <p class="wow fadeInUp text-white" data-wow-delay=".6s" data-wow-duration="1s">Late nights at work preventing you from keeping your apartment tidy? Too busy taking the kids to
                    school, practices, and playdates to vacuum the floors? We know life can be crazy and unpredictable,
                    and when you’re tired and overworked, the last thing anybody wants to do is clean their home.
                    Whatever the reason, Trudy has you covered by connecting you with reliable cleaning professionals
                    in your area in seconds.
                    Book a cleaner today.</p>
                </article>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1s">
                    <div class="statistic__item">
                        <div class="number-wrap">
                            <h4 class="text-pink number js-counter-up" data-counterup-time="1000">30</h4>
                        </div>
                        <h6 class="text-white">Cleaners available</h6>
                        <a href="request.html" class="au-btn au-btn--dark au-btn--p50 m-t-30 js-load-btn" href="#">View All</a>
                    </div>
                </div>
                <div class="wrapscrolly">
                  <p class="arrow arrow--bottom chevron"></p>
                  <p class="arrow arrow--bottom chevron"></p>
                  <p class="arrow arrow--bottom chevron"></p>
                </div>
            </div>
        </div>
    </section>
    <!-- END STATISTIC-->

    <!-- STATISTIC-->
    <section class="home-blackwhite-intro js-parallax-scroll p-t-445 p-b-30" style="background: url('assets/images/plumber.jpg') center center / cover no-repeat fixed;">
        <div class="bg-overlay bg-overlay--opa60"></div>
     
        <div class="home-blackwhite-intro__inner">
            <div class="container">
                <article class="col-md-7 text-white">
                    <h2 class="wow fadeInRight" data-wow-delay=".4s" data-wow-duration="1s">Plumbing</h2>
                    <p class="wow fadeInUp text-white" data-wow-delay=".6s" data-wow-duration="1s">Having trouble with a leaking pipe/ blocked toilet/ burst pipes /malfunctioning faucets in your
                    house? A professional plumber in your area is just a click away.
                    On Trudy u can book a professional plumber who will fix your leaking pipe/burst
                    pipes/malfunctioning faucet/blocked toilets saving you the trouble of dealing with unbearable smell
                    or the risk of your house/apartment flooding. </p>
                </article>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1s">
                    <div class="statistic__item">
                        <div class="number-wrap">
                            <h4 class="text-pink number js-counter-up" data-counterup-time="1000">30</h4>
                        </div>
                        <h6 class="text-white">Plumbers available</h6>
                        <a href="request.html" class="au-btn au-btn--dark au-btn--p50 m-t-30 js-load-btn" href="#">View All</a>
                    </div>
                </div>
                <div class="wrapscrolly lastone">
                  <p class="arrow arrow--bottom chevron"></p>
                  <p class="arrow arrow--bottom chevron"></p>
                  <p class="arrow arrow--bottom chevron"></p>
                </div>
            </div>
        </div>
    </section>
    <!-- END STATISTIC-->
<!-- STATISTIC-->
    <section class="home-blackwhite-intro js-parallax-scroll p-t-445 p-b-30" style="background: url('assets/images/repair.jpg') center center / cover no-repeat fixed;">
        <div class="bg-overlay bg-overlay--opa60"></div>
     
        <div class="home-blackwhite-intro__inner">
            <div class="container">
                <article class="col-md-7 text-white">
                    <h2 class="wow fadeInRight" data-wow-delay=".2s" data-wow-duration="1s">Repairs</h2>
                    <p class="wow fadeInUp text-white" data-wow-delay=".6s" data-wow-duration="1s">
                    We all have that piece of furniture that overtime have gotten attached to and the last thing we want
                    is to throw them away due to breakage or other damages.
                    Worry no more as Trudy instantly connects you with repair professionals in your area who work to
                    ensure your furniture is restored to its original look.
                    With Trudy repair professionals you can now avoid unnecessary costs purchasing items that can be
                    repaired.</p>
                </article>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1s">
                    <div class="statistic__item">
                        <div class="number-wrap">
                            <h4 class="text-pink number js-counter-up" data-counterup-time="1000">145</h4>
                        </div>
                        <h6 class="text-white">Repiar pros available</h6>
                        <a href="request.html" class="au-btn au-btn--dark au-btn--p50 m-t-30 js-load-btn" href="#">View All</a>
                    </div>
                </div>
                <div class="wrapscrolly">
                  <p class="arrow arrow--bottom chevron"></p>
                  <p class="arrow arrow--bottom chevron"></p>
                  <p class="arrow arrow--bottom chevron"></p>
                </div>
            </div>
        </div>
    </section>
    <!-- END STATISTIC-->
<!-- STATISTIC-->
    <section class="home-blackwhite-intro js-parallax-scroll p-t-445 p-b-30" style="background: url('assets/images/mech.jpg') center center / cover no-repeat fixed;">
        <div class="bg-overlay bg-overlay--opa60"></div>
     
        <div class="home-blackwhite-intro__inner">
            <div class="container">
                <article class="col-md-7 text-white">
                    <h2 class="wow fadeInRight" data-wow-delay=".2s" data-wow-duration="1s">Mechanics</h2>
                    <p class="wow fadeInUp text-white" data-wow-delay=".6s" data-wow-duration="1s">
                    
                    Having trouble with a flat tyre on the road or at home? Can’t figure out the problem with your
                    car?
                    Trudy has you covered by putting you in touch with available mechanics anywhere at any
                    time, saving you time spent at the garage, helping you focus on more important projects.</p>
                </article>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1s">
                    <div class="statistic__item">
                        <div class="number-wrap">
                            <h4 class="text-pink number js-counter-up" data-counterup-time="1000">30</h4>
                        </div>
                        <h6 class="text-white">Mechanics available</h6>
                        <a href="request.html" class="au-btn au-btn--dark au-btn--p50 m-t-30 js-load-btn" href="#">View All</a>
                    </div>
                </div>
                <div class="wrapscrolly">
                  <p class="arrow arrow--bottom chevron"></p>
                  <p class="arrow arrow--bottom chevron"></p>
                  <p class="arrow arrow--bottom chevron"></p>
                </div>
            </div>
        </div>
    </section>
    <!-- END STATISTIC-->
<!-- STATISTIC-->
    <section class="home-blackwhite-intro js-parallax-scroll p-t-445 p-b-30" style="background: url('assets/images/outdoor.jpg') center center / cover no-repeat fixed;">
        <div class="bg-overlay bg-overlay--opa60"></div>
     
        <div class="home-blackwhite-intro__inner">
            <div class="container">
                <article class="col-md-7 text-white">
                    <h2 class="wow fadeInRight" data-wow-delay=".2s" data-wow-duration="1s">Outdoor Services</h2>
                    <p class="wow fadeInUp text-white" data-wow-delay=".6s" data-wow-duration="1s">
                    Whether you are having an impromptu celebration at your house or just need a tidy
                    backyard/compound. Trudy has you covered.
                    From lawn mowing/trimming, fence maintenance to yard clean up, Trudy allows you to book
                    outdoor maintenance professionals saving you the trouble of doing it on your own as well as
                    allowing you to celebrate events outdoors in style.</p>
                </article>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1s">
                    <div class="statistic__item">
                        <div class="number-wrap">
                            <h4 class="text-pink number js-counter-up" data-counterup-time="1000">30</h4>
                        </div>
                        <h6 class="text-white">Outdoor pros available</h6>
                        <a href="request.html" class="au-btn au-btn--dark au-btn--p50 m-t-30 js-load-btn" href="#">View All</a>
                    </div>
                </div>
                <div class="wrapscrolly">
                  <p class="arrow arrow--bottom chevron"></p>
                  <p class="arrow arrow--bottom chevron"></p>
                  <p class="arrow arrow--bottom chevron"></p>
                </div>
            </div>
        </div>
    </section>
    <!-- END STATISTIC-->

    <!-- FOOTER-->
    <app-footer></app-footer>
    <!-- END FOOTER-->
</div>