<div class="page-wrapper loginbg text-white">
    <!-- APPLICATION HEADER-->
    <app-header></app-header>
    <!-- END APPLICATION HEADER-->

    <!-- PROTECTED GALLERY-->
    <section class="protected-gallery">
        <button class="au-btn au-btn--p50" id="button">Sign Up</button>
        <div class="protected-gallery-wrap" id="startscreen">
            <!-- LOGIN COMPONENT -->
            <app-login></app-login>
            <!-- END LOGIN COMPONENT -->


            <div id="triangle-down"></div>
            <div id="triangle-up"></div>
            <div id="menuContent">
                <ul>
                    <li><a href=".section1">Menu 1</a></li>
                    <li><a href=".section2">Menu 2</a></li>
                    <li><a href=".section3">Menu 3</a></li>
                </ul>
                <div id="menuClose">✕</div>
            </div>

            <!-- REGISTRATION COMPONENT -->
            <app-register></app-register>
            <!-- END REGISTRATION COMPONENT-->
        </div>
    </section>
    <!-- END PROTECTED GALLERY-->

    <!-- FOOTER-->
    <app-footer></app-footer>
    <!-- END FOOTER-->
</div>