<div id="title">
    <div class="container">
        <div class="protected-gallery__content textpart float-left col-lg-5 col-md-6 text-left">
            <h1 class="weight-slim text-uppercase"><b>Hello <br>Welcome To Trudy</b> Your Space To Make Money!</h1>
            <p>You Don't have a Trudy account yet? Click the sign up button below to sign up</p>
            <div class="button-group mt-4">
                <a href="" class="au-btn au-btn--p50">See More</a>
            </div>
        </div>
        <div class="protected-gallery__content float-right col-lg-5 col-md-6">
            <h3>Hello Welcome To Trudy!</h3>
            <p class="mb-5 text-normal">Please Enter your username & password below to continue</p>
            <form class="m-t-25" (ngSubmit)="onSubmit()" #loginForm="ngForm">
                <div class="col-lg-12 mb-5">
                    <input class="au-input" type="text" name="email" [(ngModel)]="user.email" placeholder="Your username ...">
                </div>
                <div class="col-lg-12">
                    <input class="au-input" type="password" name="password" [(ngModel)]="user.password" placeholder="Your password ...">
                </div>
                <button class="au-btn au-btn--dark au-btn--p50" type="submit">Continue Login</button>
                <div class="col-lg-12 mt-5">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Remember me</label>
                </div>
            </form>
        </div>
    </div>
</div>